<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Musicians Pool</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/heroic-features.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Musicians Pool</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/homepage">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://meet.mit.edu/">Our main supporter</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li> [[NOT NEEDED TILL NOW]]-->
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Welcome to Musicians pool</h1>
      <p class="lead">Our Vision is to develop the musical spirit between musicians around the world !</p>
      <a href="/signup" class="btn btn-primary btn-lg">Sign up</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://c4.wallpaperflare.com/wallpaper/16/416/887/macro-music-guitar-wallpaper-preview.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Guitarists</h4>
            <p class="card-text">I'm only myself when I have a guitar in my hands. - George Harisson</p>
          </div>
          <div class="card-footer">
            <a href="/Participants/guitar" class="btn btn-primary">Find out more about us !</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://www.itl.cat/pngfile/big/5-53047_piano-keyboard-wallpaper-piano-keys.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Pianists</h4>
            <p class="card-text">It's like a whole orchestra , the piano for me. - Dave Brubeck</div>
          <div class="card-footer">
            <a href="/Participants/piano" class="btn btn-primary">Find out more about us !</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://wallup.net/wp-content/uploads/2019/09/08/976145-drums-music-percussion-drum-set-kit-748x499.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Drummers</h4>
            <p class="card-text">Drums just always sounded like the most fun part of that good music for me. - Levon Helm</p>
          </div>
          <div class="card-footer">
            <a href="/Participants/drums" class="btn btn-primary">Find out more about us !</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://cdn.wallpapersafari.com/49/72/5Ts3MP.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Violinists</h4>
            <p class="card-text">I know that the most joy in my life  has come to me from my violin. - Albert Einstein</div>
          <div class="card-footer">
            <a href="/Participants/violin" class="btn btn-primary">Find out more about us !</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
